{% extends 'base.html' %}
{% load static %}
{% block content %}
								<section>
									<header class="main">
										<h1>{{ book.title }}</h1>
									</header>
									<img src="{{book.image.url}}">
									<h3>Author: {{ book.author }}</h3>
									<p>Posted: {{ book.publish_date }}</p>
                                    <p>Category: {{ book.category }}</p>
									<p>{{book.description}}</p>
									<hr class="major" />
									{% if request.user.is_superuser %}
									<a href="{% url 'update-book' book.id %}" >Update</a>
									<a href="{% url 'delete-book' book.id %}" >Delete</a>
									{% endif %}
								</section>
{% endblock %}