{% extends 'base.html' %}
{% load static %}
{% block content %}
								<section>
									<header class="main">
										<h1>{{ book.title }}</h1>
									</header>
									<span class="image main"><img src="{{ book.get_image }}" style="width: auto; height: auto;" alt=""  /></span>
									<h3>Author: {{ book.author }}</h3>
									<p>Posted: {{ book.public_date }}</p>
                                    <p>Publisher: {{ book.publisher }}</p>
									<p>{{book.description}}</p>

									<hr class="major" />
									<img src="{{book.image}}" style="" class="img-thumbnail" alt="...">


									           {% if request.user.is_superuser %}
									<a href="{% url 'update-book' book.id %}" >update</a>
										<a href="{% url 'delete-book' book.id %}" >delete</a>
									{% endif %}
								</section>
{% endblock %}